/* GameUI.css */

.game-ui {
  position: relative;
  /* 他のスタイル設定 */
}

.game-board-image {
  /* 画像のスタイル設定 */
  position: relative;
  z-index: 1; /* 必要に応じて数値を調整 */
}

.start-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* 画像よりも大きい値に設定 */
}

.start-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 2rem;
  z-index: 3; /* オーバーレイよりも大きい値に設定 */
}

/* GameUI.css */
.header-class-8 {
  background-color: #ff90bc;
  display: flex;
}

.App-logo-8 {
  display: flex;
}

.ranking-list {
  display: flex;
}

.close-button-9 {
  font-size: 16px;
  color: #ff90bc;
  margin-left: auto; /* 他の要素がなければ自動的に右端に配置される */
  padding: 5px 10px; /* ボタンの内部の余白 */
  background-color: #fff; /* ボタンの背景色 */
  border: none; /* 枠線なし */
  border-radius: 5px; /* 角を丸くする */
  cursor: pointer; /* カーソルをポインターにする */
  font-weight: bold; /* テキストを太字にする */
}
