/* ParticipantScreen.css */

.start-screen {
  text-align: center;
  background-color: #ffeff9;
  color: #595357;
  display: flex;
  justify-content: center;
  height: 100vh; /* ビューポートの高さ */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.nickname-form {
  width: 18%;
}
.parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh; /* 最小のビューポートの高さ */
}

.header-class {
  width: 100%;
  height: 56px;
  background-color: #ff90bc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  margin-right: auto;
  display: flex; /* 画像を左に寄せ、右側に余白を作る */
  align-items: center;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
}

.surprise {
  color: #595357; /* テキストの色を変更 */
  font-weight: bold;
  font-size: 16px;
  margin-top: 36px;
  text-align: center;
}

.click-button {
  width: 14.4%;
  background-color: #ff90bc;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  padding: 16px 24px;
  border-radius: 20px;
  margin-bottom: 12px;
  margin: auto;
  margin-top: 19px;
}

.text-black {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  margin-left: 12px;
  max-width: 100%;
}

.nickname {
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #595357;
  background-color: #bfb3bb;
  height: 28px;
  border-radius: 20px;
  padding: 12px;
  margin-top: 20px;
}

.setsumei {
  font-size: 14px;
  color: #595357;
  margin-top: 36px;
  font-weight: bold;
}

.start-screen .nickname-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
  font-weight: bold;
}

.start-screen button:not(.close-button):hover {
  background-color: #e75f9a; /* ピンク色の背景 */
}

/* 参加者一覧ボタンのスタイル */

.count-people {
  margin-top: 12px;
  font-size: 24px;
  font-weight: bold;
  color: #595357;
}

.header-2 {
  background-color: #bfb3bb;
  max-width: 500px;
  margin-top: 24px;
  border-radius: 20px;
  margin: 24px auto;
}

.setsumei-5 {
  font-weight: bold;
  color: #000;
  font-size: 16px;
  margin-top: 4px;
}

.setumei-parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 参加者URLセクションのスタイル */

.participant-url {
  font-weight: bold;
  color: #595357;
}

.participant-url-2 {
  font-size: 14px;
}

.participant-url-3 {
  background-color: #bfb3bb;
  padding: 10px;
  border-radius: 20px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.start-screen .participant-url button:hover {
  background-color: #e75f9a; /* ホバー時の色を濃いピンクに変更 */
}

/* モーダルウィンドウのスタイル */
.modal {
  position: fixed;
  background-color: #bfb3bb;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  z-index: 1000;
  display: none;
}

.modal-content {
  padding: 24px;
  background-color: #bfb3bb;
  position: relative;
  /* その他のスタイル */
  border-radius: 20px;
  width: 39%;
}

.title-4 {
  font-weight: bold;
  color: #000;
  font-size: 20px;
}

.close-button {
  position: absolute; /* 絶対位置指定 */
  top: 10px; /* 上端から10ピクセルの位置 */
  right: 10px; /* 右端から10ピクセルの位置 */
  border: none; /* ボーダーなし */
  background: none; /* 背景なし */
  cursor: pointer; /* カーソルをポインターに */
  font-size: 24px; /* アイコンのサイズ */
}

.modal-backdrop {
  display: flex;
  justify-content: center; /* 水平方向中央揃え */
  align-items: center;
  position: fixed; /* 画面全体に固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
}

#modal-backdrop > div {
  background-color: #bfb3bb; /* 背景色 */
  padding: 20px; /* 内側の余白 */
  border-radius: 20px; /* 角の丸み */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);  */
  width: 60%; /* 幅 */
  max-width: 500px; /* 最大幅 */
  height: auto; /* 高さは内容によって決まる */
  color: #000;
  font-weight: bold;
  position: relative;
}

.list {
  margin-top: 12px;
}

.close-button {
  position: absolute; /* 絶対位置指定 */
  top: 10px; /* 上端からの距離 */
  right: 10px; /* 右端からの距離 */
  border: none; /* ボーダーなし */
  background: none; /* 背景なし */
  font-size: 24px; /* アイコンのサイズ */
  cursor: pointer; /* カーソルをポインターに */
}

.close-button:focus,
.close-button:hover {
  background-color: #595357; /* ボタンの背景色を白に設定 */
  color: black; /* 必要に応じてボタンのテキスト色を設定 */
  /* その他の必要なスタイル */
  border-radius: 100px;
}

.error-container {
  height: 20px; /* エラーメッセージのための高さを確保 */
  margin: 5px 0; /* 上下のマージン */
  color: transparent; /* デフォルトでは透明 */
}

.error-container.active {
  color: red; /* エラーがある場合は赤色に */
  font-size: 10px;
  font-weight: bold;
}
